.area {
  display: table;
  min-height: 100%;
  min-width: 100%;
}

.area div {
  display: table-row;
}

p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

b {
  font-size: 250%;
}

u {
  font-size: 250%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}